.con-blog-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 44px;
  background-image: url("../images/blog/bg-header-blog.png");
  background-repeat: no-repeat;
  background-position: 0% -50%;
}
@media only screen and (max-width: 1199px) {
  .con-blog-header {
    max-width: 1272px;
  }
}

.content-blog-header {
  max-width: 1272px;
}
.content-blog-header .title {
  font-style: normal;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  color: #1A202C;
}
@media only screen and (max-width: 1199px) {
  .content-blog-header .title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 991px) {
  .content-blog-header .title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 767px) {
  .content-blog-header .title {
    font-size: 28px;
  }
}
.content-blog-header .blog-intro {
  background: #FFFFFF;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .content-blog-header .blog-intro {
    display: flex;
    flex-direction: column;
  }
}
.content-blog-header .blog-intro .description {
  padding: 49px 50px 42px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.content-blog-header .blog-intro .description .title {
  margin: 0;
  padding: 0;
  max-width: 519px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #1A202C;
  margin-bottom: 32px;
}
.content-blog-header .blog-intro .description .time {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #4A5568;
  display: inline-block;
  margin-bottom: 100px;
}
.content-blog-header .blog-intro .description .btn-blog-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  min-width: 190px;
  max-width: 190px;
}
@media only screen and (max-width: 767px) {
  .content-blog-header .blog-intro .description {
    width: 100%;
    padding: 24px 30px 20px;
  }
}
.content-blog-header .blog-intro .image {
  width: 50%;
}
.content-blog-header .blog-intro .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 575px) {
  .content-blog-header .blog-intro .image {
    width: 100%;
  }
}

.con-list-blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1199px) {
  .con-list-blog {
    max-width: 1272px;
  }
}

.list-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1272px;
}
.list-blog .blog-item {
  background: #FFFFFF;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 32px;
  width: calc((100% - 80px) / 3);
  text-decoration: none;
  cursor: pointer;
  color: #1A202C;
}
.list-blog .blog-item .blog-image {
  width: 100%;
  height: auto;
}
.list-blog .blog-item .blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list-blog .blog-item .blog-info {
  padding: 32px;
}
.list-blog .blog-item .blog-info .blog-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #1A202C;
  margin-bottom: 12px;
  overflow: hidden;
  max-width: 330px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 767px) {
  .list-blog .blog-item .blog-info .blog-title {
    font-size: 20px;
  }
}
.list-blog .blog-item .blog-info .blog-time {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4A5568;
}
@media only screen and (max-width: 767px) {
  .list-blog .blog-item .blog-info {
    padding: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .list-blog .blog-item {
    width: 100%;
  }
}

.pagination {
  width: 100%;
  margin-bottom: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .pagination {
    margin-bottom: 160px;
  }
}
.pagination .list-pagination {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pagination .list-pagination li {
  min-width: 36px;
  min-height: 36px;
  margin-right: 8px;
  border-radius: 8px;
}
.pagination .list-pagination li .pagination-item {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  background: #edf2f7;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1a202c;
}
.pagination .list-pagination li .active {
  color: #ffffff;
  background: #ff6d03;
}

/*# sourceMappingURL=blog.css.map */
