/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Book.eot");
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#CircularStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype"), url("../fonts/CircularStd-Medium.svg#CircularStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg#CircularStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "Circular Std", serif;
  color: #1A202C;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #ff6d03 !important;
}

/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
.btn-orange {
  position: relative;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  color: #fff !important;
  text-decoration: none;
  outline: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7003+0,ff9703+100 */
  background: #ff7003;
  background: -webkit-gradient(linear, left top, right top, from(#ff7003), to(#ff9703));
  background: linear-gradient(to right, #ff7003 0%, #ff9703 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7003", endColorstr="#ff9703",GradientType=1 );
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3) !important;
          box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3) !important;
  padding: 12px 15px;
}
@media only screen and (max-width: 767px) {
  .btn-orange {
    height: 52px;
    font-size: 18px;
    padding: 11px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .btn-orange {
    -webkit-box-shadow: 0 7px 16px 0px rgba(255, 109, 3, 0.3) !important;
            box-shadow: 0 7px 16px 0px rgba(255, 109, 3, 0.3) !important;
  }
}
.btn-orange:hover:before {
  opacity: 1;
}
.btn-orange:before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d95b00;
  background: -webkit-gradient(linear, left top, right top, from(#d95b00), to(#ff8303));
  background: linear-gradient(to right, #d95b00 0%, #ff8303 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d95b00", endColorstr="#ff8303",GradientType=1 );
  border-radius: 16px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn-orange span {
  position: relative;
  z-index: 2;
}

.btn-white {
  position: relative;
  font-size: 18px;
  color: #ff6d03 !important;
  background: #fff;
  border: 0;
  text-decoration: none;
  outline: 0;
  border-radius: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8.5px 15px;
}
.btn-white:hover {
  color: #fff !important;
  background: #ff6d03;
}
.btn-white:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 109, 3, 0.18);
          box-shadow: 0 0 0 0.25rem rgba(255, 109, 3, 0.18);
}

.btn-outline-orange {
  position: relative;
  font-size: 20px;
  color: #ff6d03 !important;
  background: none;
  border: 1px solid #ff6d03;
  text-decoration: none;
  outline: 0;
  border-radius: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 15px;
}
.btn-outline-orange:hover {
  color: #fff !important;
  background: #ff6d03;
}
.btn-outline-orange:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 109, 3, 0.18);
          box-shadow: 0 0 0 0.25rem rgba(255, 109, 3, 0.18);
}

/* -----------------------------------------------------------
	heading
----------------------------------------------------------- */
.title-lg {
  font-size: 48px;
  line-height: 1.2708333333;
  font-weight: bold;
  color: #1a202c;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1199px) {
  .title-lg {
    font-size: 42px;
  }
}
@media only screen and (max-width: 991px) {
  .title-lg {
    font-size: 38px;
  }
}
@media only screen and (max-width: 767px) {
  .title-lg {
    font-size: 28px;
  }
}

/* -----------------------------------------------------------
	Form
----------------------------------------------------------- */
.form-group {
  margin-bottom: 24px;
}

.form-control {
  height: 52px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #a0aec0;
}

.form-control-with-pre-icon {
  position: relative;
}
.form-control-with-pre-icon .form-control {
  padding-left: 42px;
}
.form-control-with-pre-icon .ic {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.fixed-header .main-header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}
.fixed-header .main-header .logo img {
  max-height: 50px;
}

.main-header {
  position: relative;
  width: 100%;
  background: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px 45px;
  z-index: 1000;
}
@media only screen and (max-width: 1199px) {
  .main-header {
    padding-left: 0;
    padding-right: 0;
  }
}
.main-header .btn-menu {
  outline: 0;
  line-height: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-left: 5px;
}
.main-header .btn-menu:hover path {
  stroke: #ff6d03;
}
.main-header .btn-menu path {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-header .logo img {
  max-height: 60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-header .col-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .col-nav .main-nav {
  margin-top: -2px;
}
.main-header .col-nav .main-nav li:first-child {
  margin-left: 0 !important;
}
@media only screen and (max-width: 1199px) {
  .main-header .col-nav .main-nav li {
    margin-left: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .col-nav .main-nav li {
    margin-left: 4px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-header .col-nav .main-nav li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .col-nav .main-nav li a {
    font-size: 15px;
  }
}
.main-header .box-language {
  margin-left: 24px;
}
.main-header .box-language .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDF2F7;
  border-radius: 20px;
  color: #1A202C;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 12px 5px 7px;
  font-weight: 500;
  border: 0;
}
.main-header .box-language .dropdown-toggle:after {
  display: none;
}
@media only screen and (max-width: 991px) {
  .main-header .box-language .dropdown-toggle {
    font-size: 14px;
    padding: 3px 10px 3px 5px;
  }
}
.main-header .box-language .dropdown-toggle:hover {
  background: #dbe5ef;
}
.main-header .box-language .dropdown-toggle span {
  padding-left: 5px;
}
.main-header .box-language .dropdown-menu {
  min-width: 103px;
  top: 40px;
  left: -10px;
  border-radius: 8px;
  padding: 5px;
  background: white;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.main-header .box-language .dropdown-menu li {
  padding: 1px 0;
}
.main-header .box-language .dropdown-menu li a {
  border-radius: 8px;
  padding: 5px;
  line-height: 1;
}
.main-header .box-language .dropdown-menu li a img, .main-header .box-language .dropdown-menu li a span {
  display: inline-block;
  vertical-align: middle;
}
.main-header .box-language .dropdown-menu li a:hover {
  background: #EDF2F7;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
}
.main-nav li a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #1a202c;
  text-decoration: none;
}
.main-nav li a:hover, .main-nav li a.active {
  color: #ff6d03;
}
.main-nav li a:hover:before, .main-nav li a.active:before {
  opacity: 1;
  width: 100%;
}
.main-nav li a:before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 3px;
  width: 0;
  background: #ff6d03;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas.show {
  width: 100%;
  border: 0;
}
.offcanvas .main-nav {
  text-align: center;
}
.offcanvas .main-nav li {
  display: block;
  margin-bottom: 40px;
}

/* -----------------------------------------------------------
	.main-footer
----------------------------------------------------------- */
.main-footer {
  overflow: hidden;
  background: #272423;
  color: white;
}
.main-footer a {
  color: white;
  text-decoration: none;
}
.main-footer a:hover, .main-footer a.active {
  color: #ff6d03;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-nav {
    padding: 15px 0 10px;
  }
}
.main-footer .nav-link {
  padding: 14px 15px;
}
@media only screen and (max-width: 767px) {
  .main-footer .nav-link {
    padding: 6px 15px;
  }
}
@media only screen and (max-width: 575px) {
  .main-footer .nav-link {
    padding: 6px 9px;
  }
}
.main-footer .footer-main {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-main {
    padding: 25px 0;
  }
}
.main-footer .item-icon-text {
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .main-footer .item-icon-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-footer .item-icon-text .ic {
  color: #ff6d03;
  width: 20px;
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  .main-footer .item-icon-text .ic {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .main-footer .item-icon-text .text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.main-footer .footer-address {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-address {
    margin-bottom: 0;
  }
}
.main-footer .footer-download-wrapper {
  border-top: 1px solid #3d3a39;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-download-wrapper {
    text-align: center;
  }
}
.main-footer .footer-download {
  max-width: 432px;
  margin: 0 auto;
  padding: 20px 0;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-download {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 575px) {
  .main-footer .footer-download {
    border-radius: 0;
  }
}
.main-footer .footer-download p {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 16px;
}
.main-footer .footer-download ul {
  list-style: none;
  padding: 0;
  margin: 0 -10px;
}
.main-footer .footer-download ul li {
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-download ul li {
    max-width: 50%;
  }
}
.main-footer .footer-download ul li a {
  display: block;
  padding: 0;
}
.main-footer .footer-copyright {
  border-top: 1px solid #3d3a39;
  padding: 30px 0 0;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-copyright {
    padding-top: 20px;
  }
}
.main-footer .col-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .main-footer .col-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main-footer .footer-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .main-footer .footer-social {
    margin-bottom: 20px;
  }
}
.main-footer .footer-social a {
  color: #fff;
  text-decoration: none;
  margin-left: 16px;
}
.main-footer .footer-social a:hover {
  color: #ff6d03;
}
.main-footer .txt-copyright {
  font-size: 14px;
  color: #bebdbd;
}
.main-footer .txt-copyright p {
  margin: 0;
}
.main-footer .footer-logo-sp {
  margin-bottom: 20px;
}

.mission-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .mission-title h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1A202C;
  }
}

.block-recruitment-1 {
  position: relative;
  overflow: hidden;
  padding: 85px 0 164px;
}
@media only screen and (max-width: 1399px) {
  .block-recruitment-1 {
    padding: 85px 0;
  }
}
@media only screen and (max-width: 575px) {
  .block-recruitment-1 {
    padding: 40px 0;
  }
}
.block-recruitment-1::before {
  content: "";
  background-image: url(../images/bg-one.png);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 40%;
  background-size: contain;
  left: 5%;
  width: 90%;
  height: 100%;
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  .block-recruitment-1::before {
    display: none;
  }
}
.block-recruitment-1::after {
  display: block;
  content: "";
  background: transparent url(../images/bg-block-recruitment-1.png) no-repeat left top;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 48%;
  width: 1079px;
  height: 765px;
  z-index: -1;
}
@media only screen and (max-width: 1399px) {
  .block-recruitment-1::after {
    width: 830px;
    height: 666px;
  }
}
@media only screen and (max-width: 1199px) {
  .block-recruitment-1::after {
    width: 700px;
    height: 555px;
  }
}
@media only screen and (max-width: 991px) {
  .block-recruitment-1::after {
    width: 550px;
    height: 444px;
  }
}
@media only screen and (max-width: 767px) {
  .block-recruitment-1::after {
    left: 22%;
    width: 680px;
    height: 534px;
  }
}
@media only screen and (max-width: 575px) {
  .block-recruitment-1::after {
    width: 110vw;
    height: 87vw;
  }
}
.block-recruitment-1 .block1-recruitment-left {
  padding: 60px 20px 80px 0px;
}
@media only screen and (max-width: 1199px) {
  .block-recruitment-1 .block1-recruitment-left {
    padding: 0 20px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .block-recruitment-1 .block1-recruitment-left {
    padding: 10px 0px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .block-recruitment-1 .block1-recruitment-left {
    padding: 0;
  }
}
.block-recruitment-1 .block1-recruitment-left h5 {
  font-size: 64px;
  font-weight: 700;
  color: #ff6d03;
  line-height: 1.3;
}
@media only screen and (max-width: 991px) {
  .block-recruitment-1 .block1-recruitment-left h5 {
    font-size: 32px;
    font-weight: 700;
    color: #ff6d03;
  }
}
.block-recruitment-1 .block1-recruitment-left p {
  font-size: 20px;
  font-weight: 400;
  color: #1A202C;
  line-height: 1.3;
}
@media only screen and (max-width: 767px) {
  .block-recruitment-1 .block1-recruitment-left p {
    font-size: 20px;
    font-weight: 400;
    color: #1A202C;
  }
}
.block-recruitment-1 .block1-recruitment-left .btn-contact {
  background: linear-gradient(99.06deg, #FF6D03 0%, #FF9A03 98.55%);
  border-radius: 16px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3);
          box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3);
  padding: 15px 70px;
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  .block-recruitment-1 .block1-recruitment-left .btn-contact {
    min-width: 228px;
    background: linear-gradient(99.06deg, #FF6D03 0%, #FF9A03 98.55%);
    border-radius: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 13px 23px;
  }
}
.block-recruitment-1 .block1-recruitment-right {
  text-align: right;
}

.block-mission {
  padding: 30px 0px 80px;
}
.block-mission .mission-title {
  margin-bottom: 60px;
}
.block-mission .block-mission-left ul.ul-mission {
  list-style: none;
}
@media only screen and (max-width: 1399px) {
  .block-mission .block-mission-left ul.ul-mission {
    padding-left: 0px;
  }
}
.block-mission .block-mission-left ul.ul-mission li.li-mission {
  margin-bottom: 30px;
}
@media only screen and (max-width: 575px) {
  .block-mission .block-mission-left ul.ul-mission li.li-mission {
    margin-bottom: 20px;
  }
}
.block-mission .block-mission-left ul.ul-mission li.li-mission .item-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-mission .block-mission-left ul.ul-mission li.li-mission .item-mission img {
  width: 100%;
  height: auto;
  max-width: 109px;
}
@media only screen and (max-width: 991px) {
  .block-mission .block-mission-left ul.ul-mission li.li-mission .item-mission img {
    max-width: 80px;
  }
}
@media only screen and (max-width: 575px) {
  .block-mission .block-mission-left ul.ul-mission li.li-mission .item-mission img {
    max-width: 60px;
    margin-top: -20px;
  }
}
.block-mission .block-mission-left ul.ul-mission li.li-mission .item-mission p {
  font-size: 18px;
  font-weight: 400;
  color: #1A202C;
  padding-left: 20px;
}
@media only screen and (min-width: 1200px) {
  .block-mission .col-mission-left {
    width: 34%;
  }
}
@media only screen and (min-width: 1200px) {
  .block-mission .col-mission-right {
    width: 66%;
  }
}
@media only screen and (max-width: 1399px) {
  .block-mission .col-mission-right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media only screen and (max-width: 575px) {
  .block-mission .col-mission-right .mission-right {
    display: table;
    margin: 0 auto;
  }
}
.block-mission .col-mission-right .mission-right h2 {
  display: table;
  line-height: 1.2647058824;
  background: transparent url(../images/subtract.png) no-repeat left center;
  background-size: 100% 100%;
  font-size: 68px;
  font-weight: 700;
  color: #2D3748;
  padding: 60px 100px 90px 90px;
  margin: -37px 0 0 auto;
}
@media only screen and (max-width: 1399px) {
  .block-mission .col-mission-right .mission-right h2 {
    font-size: 54px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .block-mission .col-mission-right .mission-right h2 {
    font-size: 40px;
    padding: 50px 70px 70px;
  }
}
@media only screen and (max-width: 991px) {
  .block-mission .col-mission-right .mission-right h2 {
    margin: -20px auto 0;
  }
}
@media only screen and (max-width: 767px) {
  .block-mission .col-mission-right .mission-right h2 {
    font-size: 37px;
  }
}
@media only screen and (max-width: 575px) {
  .block-mission .col-mission-right .mission-right h2 {
    font-size: 30px;
    padding: 40px 34px 50px;
    margin-left: -12px;
    margin-right: -12px;
  }
}
.block-mission .col-mission-right .mission-right h2 span {
  font-weight: 900;
}

.block-suitable .mission-title {
  margin-bottom: 40px;
}
.block-suitable .suitable-left button.btn {
  margin-bottom: 16px;
}
.block-suitable .suitable-left button.btn.btn-ambitious {
  background: #FFB700;
  border-radius: 16px;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  border: none;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 991px) {
  .block-suitable .suitable-left button.btn.btn-ambitious {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
  }
}
.block-suitable .suitable-left button.btn.btn-experiment {
  background: #FF6D03;
  border-radius: 16px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  border: none;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 991px) {
  .block-suitable .suitable-left button.btn.btn-experiment {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
}
.block-suitable .suitable-left button.btn.btn-handle {
  background: #2971F0;
  border-radius: 16px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  border: none;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 991px) {
  .block-suitable .suitable-left button.btn.btn-handle {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
}
.block-suitable .suitable-left p {
  font-size: 20px;
  font-weight: 400;
  color: #4A5568;
  padding-top: 20px;
  padding-bottom: 65px;
}
@media only screen and (max-width: 991px) {
  .block-suitable .suitable-left p {
    font-size: 18px;
    font-weight: 400;
    color: #4A5568;
  }
}
.block-suitable .suitable-right {
  position: relative;
}
.block-suitable .suitable-right img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 100px;
}
@media only screen and (max-width: 991px) {
  .block-suitable .suitable-right img {
    position: relative;
    top: 0;
  }
}

.block-recruit {
  padding: 209px 0px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .block-recruit {
    padding: 70px 0px;
  }
}
.block-recruit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FF6D03;
  opacity: 0.1;
  display: block;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  .block-recruit:before {
    background: #fff;
  }
}
.block-recruit .mission-title p {
  font-size: 20px;
  font-weight: 400;
  color: #4A5568;
}
.block-recruit .recruit-top .mission-title {
  margin: 35px 0px 30px;
}
@media only screen and (max-width: 767px) {
  .block-recruit .recruit-top .mission-title {
    margin: 10px 0px;
  }
}
.block-recruit .recruit-top .item-recruit {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 30px 20px;
  margin-bottom: 27px;
  min-height: 222px;
}
@media only screen and (max-width: 767px) {
  .block-recruit .recruit-top .item-recruit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    margin-bottom: 12px;
    min-height: auto;
  }
}
.block-recruit .recruit-top .item-recruit h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1A202C;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 65px;
}
@media only screen and (max-width: 767px) {
  .block-recruit .recruit-top .item-recruit h4 {
    font-size: 18px;
    font-weight: 700;
    color: #1A202C;
    min-height: auto;
  }
}
@media only screen and (max-width: 991px) {
  .block-recruit .recruit-top .item-recruit h4 {
    font-size: 18px;
    font-weight: 700;
    color: #1A202C;
  }
}
.block-recruit .recruit-top .item-recruit p {
  font-size: 18px;
  font-weight: 400;
  color: #FF6D03;
}
@media only screen and (max-width: 991px) {
  .block-recruit .recruit-top .item-recruit p {
    font-size: 15px;
    font-weight: 400;
    color: #FF6D03;
  }
}
@media only screen and (max-width: 767px) {
  .block-recruit .recruit-top .item-recruit p {
    font-size: 15px;
    font-weight: 400;
    color: #FF6D03;
    margin-bottom: 0px;
  }
}
.block-recruit .recruit-top .item-recruit .btn-apply {
  background: linear-gradient(99.06deg, #FF6D03 0%, #FF9A03 98.55%);
  border-radius: 16px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border: none;
}

.block-interest {
  padding: 100px 0px;
}
@media only screen and (max-width: 767px) {
  .block-interest {
    padding: 0px;
  }
}
.block-interest .mission-title {
  margin-bottom: 50px;
}
.block-interest .item-interest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 25px;
}
.block-interest .item-interest h5 {
  font-size: 24px;
  font-weight: 700;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .block-interest .item-interest h5 {
    font-size: 18px;
    font-weight: 700;
    color: #1A202C;
    margin-bottom: 32px;
  }
}
.block-interest .item-interest img {
  height: auto;
}

.block-progress {
  margin-bottom: 180px;
}
@media only screen and (max-width: 1399px) {
  .block-progress {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .block-progress {
    margin-bottom: 60px;
  }
}
.block-progress .block-container-progress {
  width: 90%;
  margin: 0 auto;
  background: #FCF5F9;
  border-radius: 64px;
  padding: 70px 50px 100px;
}
@media only screen and (max-width: 767px) {
  .block-progress .block-container-progress {
    width: 100%;
    border-radius: 0px;
    padding: 70px 0px;
  }
}
.block-progress .block-container-progress .mission-title {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .block-progress .block-container-progress .mission-title {
    margin-bottom: 0px;
  }
}
.block-progress .block-container-progress .item-progress {
  position: relative;
  padding-top: 10px;
}
.block-progress .block-container-progress .item-progress .block-item-step {
  min-height: 272px;
  padding: 24px 16px;
}
.block-progress .block-container-progress .item-progress .block-item-step p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 767px) {
  .block-progress .block-container-progress .item-progress .block-item-step {
    min-height: auto;
    margin-top: 8px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .block-progress .block-container-progress .item-progress .block-item-step .step-body {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .block-progress .block-container-progress .item-progress .block-item-step {
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
  .block-progress .block-container-progress .item-progress::before {
    content: none !important;
  }
  .block-progress .block-container-progress .item-progress::after {
    content: none !important;
  }
}
.block-progress .block-container-progress .item-progress:last-child:after {
  display: none !important;
}
.block-progress .block-container-progress .item-progress:nth-child(1) .block-item-step {
  background: linear-gradient(176.95deg, #FF6D03 4.42%, #FF9604 94%);
}
.block-progress .block-container-progress .item-progress:nth-child(3) .block-item-step {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB700), to(#FFC700));
  background: linear-gradient(180deg, #FFB700 0%, #FFC700 100%);
}
.block-progress .block-container-progress .item-progress:nth-child(5):before {
  background-image: url(../images/step-blue.svg) !important;
}
.block-progress .block-container-progress .item-progress:nth-child(5) .block-item-step {
  background: -webkit-gradient(linear, left top, left bottom, from(#2971F0), to(#2990F0));
  background: linear-gradient(180deg, #2971F0 0%, #2990F0 100%);
}
.block-progress .block-container-progress .item-progress:nth-child(odd):before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  background-image: url(../images/step-icon.svg);
  display: block;
  z-index: 9;
  width: 100%;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
}
.block-progress .block-container-progress .item-progress:nth-child(odd) .block-item-step {
  border-radius: 16px;
  margin-top: 50px;
}
.block-progress .block-container-progress .item-progress:nth-child(odd) .block-item-step h4 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.block-progress .block-container-progress .item-progress:nth-child(odd) .block-item-step h5 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.block-progress .block-container-progress .item-progress:nth-child(odd) .block-item-step p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}
.block-progress .block-container-progress .item-progress:nth-child(even):after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  background-image: url(../images/step-icon2.svg);
  display: block;
  z-index: 9;
  width: 100%;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
}
.block-progress .block-container-progress .item-progress:nth-child(even) .block-item-step {
  border-radius: 16px;
  border: 1px solid #FF6D03;
}
.block-progress .block-container-progress .item-progress:nth-child(even) .block-item-step h4 {
  font-size: 40px;
  font-weight: 700;
  color: #1A202C;
}
.block-progress .block-container-progress .item-progress:nth-child(even) .block-item-step h5 {
  font-size: 20px;
  font-weight: 700;
  color: #1A202C;
}
.block-progress .block-container-progress .item-progress:nth-child(even) .block-item-step p {
  font-size: 18px;
  font-weight: 400;
  color: #1A202C;
  margin-bottom: 0;
}

.block-recruiment-top {
  background-image: url("../images/recruitment-top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 41px 0px;
  text-align: center;
}
.block-recruiment-top h2 {
  font-size: 52px;
  font-weight: 400;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .block-recruiment-top h2 {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
  }
}
.block-recruiment-top .description-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-recruiment-top .description-top span.time-des {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-left: 8px;
}
@media only screen and (max-width: 767px) {
  .block-recruiment-top .description-top span.time-des {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
  }
}

.list-recruiment {
  padding: 50px 0px 150px;
}
.list-recruiment .block-item-recruitment {
  margin-bottom: 50px;
}
.list-recruiment .block-item-recruitment h2.title-recruiment {
  font-size: 32px;
  font-weight: 400;
  color: #212529;
  margin-bottom: 16px;
}
.list-recruiment .block-item-recruitment ul.ul-rules li.item-rules p {
  font-size: 18px;
  font-weight: 400;
  color: #1A202C;
}
.list-recruiment .block-button button.btn-apply {
  background: linear-gradient(99.06deg, #FF6D03 0%, #FF9A03 98.55%);
  border-radius: 16px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3);
          box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3);
  padding: 15px 48px;
}