/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Book.eot");
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#CircularStd-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.eot");
  src: url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype"), url("../fonts/CircularStd-Medium.svg#CircularStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.eot");
  src: url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg#CircularStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "Circular Std";
  color: #1A202C;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #ff6d03 !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
.btn-orange {
  background: #d95b00;
  position: relative;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  color: #fff !important;
  text-decoration: none;
  outline: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7003+0,ff9703+100 */
  background: #ff7003;
  background: -webkit-gradient(linear, left top, right top, from(#ff7003), to(#ff9703));
  background: linear-gradient(to right, #ff7003 0%, #ff9703 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7003", endColorstr="#ff9703",GradientType=1 );
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3) !important;
          box-shadow: 0 10px 24px 4px rgba(255, 109, 3, 0.3) !important;
  padding: 12px 15px;
}
.btn-orange:hover:before {
  opacity: 1;
}
.btn-orange:before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d95b00;
  background: -webkit-gradient(linear, left top, right top, from(#d95b00), to(#ff8303));
  background: linear-gradient(to right, #d95b00 0%, #ff8303 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d95b00", endColorstr="#ff8303",GradientType=1 );
  border-radius: 16px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn-orange span {
  position: relative;
  z-index: 2;
}

/* -----------------------------------------------------------
	heading
----------------------------------------------------------- */
.title-lg {
  font-size: 48px;
  line-height: 1.2708333333;
  font-weight: bold;
  color: #1a202c;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 1199px) {
  .title-lg {
    font-size: 42px;
  }
}
@media only screen and (max-width: 991px) {
  .title-lg {
    font-size: 38px;
  }
}

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
  padding: 10px;
}
.main-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 9002;
}
.main-header .dropdown-toggle {
  border: 0;
  background: none;
}
.main-header .dropdown-toggle:after {
  display: none;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
}
.main-nav li a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  color: #1a202c;
  text-decoration: none;
}
.main-nav li a:hover, .main-nav li a.active {
  color: #ff6d03;
}
.main-nav li a:before {
  content: "";
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  bottom: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 100%;
  background: rgba(16, 16, 16, 0.95);
  z-index: 9020;
  -webkit-transition: transform 1s ease, "";
  -webkit-transition: "", -webkit-transform 1s ease;
  transition: "", -webkit-transform 1s ease;
  transition: transform 1s ease, "";
  transition: transform 1s ease, "", -webkit-transform 1s ease;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  .offcanvas {
    display: block;
  }
}
.has-offcanvas .offcanvas {
  opacity: 1;
  visibility: visible;
  width: 100%;
  background: white;
}
.has-offcanvas.offcanvas-show .offcanvas {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.has-offcanvas.offcanvas-show .offcanvas:after {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: width 0.1s 0.2s, height 0.1s 0.2s;
  transition: width 0.1s 0.2s, height 0.1s 0.2s;
}
.offcanvas:after {
  content: "";
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.offcanvas .main-nav {
  text-align: center;
}
.offcanvas .main-nav li a {
  padding: 1rem;
}

.offcanvas-overlay {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: -9999;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.2s ease, "";
  transition: opacity 0.2s ease, "";
}
.has-offcanvas .offcanvas-overlay {
  visibility: visible;
  opacity: 1;
  z-index: 9010;
}

/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
.footer {
  background: #272423;
  color: white;
}
.footer a {
  color: white;
}
.footer a:hover, .footer a.active {
  color: #ff6d03;
}
.footer-logo {
  display: block;
}
@media only screen and (max-width: 767px) {
  .footer-logo {
    margin: 0 0 20px;
  }
}
.footer .nav-link {
  padding: 0.85rem 1rem;
}
.footer-main {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}
.footer .fas {
  margin-right: 10px;
  width: 20px;
}
@media only screen and (min-width: 576px) {
  .footer .fas {
    color: #ff6d03;
  }
}
.footer .fa-facebook-f {
  color: white;
  background-color: #1877F2;
  border-radius: 100%;
  font-size: 30px;
  width: 43px;
  height: 43px;
  text-align: center;
  padding-top: 12px;
  vertical-align: middle;
  margin-left: 15px;
}
@media only screen and (max-width: 767px) {
  .footer .fa-facebook-f {
    margin: 0 15px 0 0;
  }
}
.footer-contact__address p {
  position: relative;
  padding-left: 30px;
}
.footer-contact__address p .fas {
  position: absolute;
  left: 0;
}
.footer-contact__social {
  text-align: right;
}
.footer-contact__social span {
  display: inline-block;
  vertical-align: text-top;
}
@media only screen and (max-width: 767px) {
  .footer-contact__social p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-bottom {
  margin-top: -30px;
}
@media only screen and (max-width: 767px) {
  .footer-bottom {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-copyright {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer-dowload .nav-item {
    max-width: 50%;
  }
}

/* -----------------------------------------------------------
	.con-reason-speaking
----------------------------------------------------------- */
.con-reason-speaking {
  padding-top: 112px;
}
.con-reason-speaking .title-lg {
  margin-bottom: 86px;
}
@media only screen and (max-width: 1199px) {
  .con-reason-speaking .title-lg {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .con-reason-speaking .title-lg {
    margin-bottom: 30px;
  }
}
.con-reason-speaking .box-img {
  position: relative;
  max-width: 1096px;
}
@media only screen and (max-width: 1199px) {
  .con-reason-speaking .box-img {
    max-width: 100%;
  }
}
/* -----------------------------------------------------------
	.con-reason-reflex
----------------------------------------------------------- */
.con-reason-reflex {
  padding-top: 180px;
}
.con-reason-reflex .title-lg {
  margin-bottom: 24px;
}
.con-reason-reflex .box-list {
  margin-bottom: 40px;
}
.con-reason-reflex .box-list .item {
  background: #f7fafc;
  border-radius: 60px;
  padding: 64px;
  margin-bottom: 90px;
}
.con-reason-reflex .box-list .col-title .txt-title {
  max-width: 400px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2777777778;
}
.con-reason-reflex .box-list .col-title .txt-title span {
  text-decoration: underline;
}
.con-reason-reflex .box-list .col-detail .box-detail {
  max-width: 630px;
}
.con-reason-reflex .box-list .col-detail .txt {
  font-size: 20px;
  line-height: 1.4;
  color: #4A5568;
  margin-bottom: 24px;
}
.con-reason-reflex .box-list .col-detail .box-highlight {
  position: relative;
  font-size: 20px;
  line-height: 1.25;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #ff6d03;
  padding: 16px 150px 16px 20px;
}
.con-reason-reflex .box-list .col-detail .box-highlight .txt-md {
  margin-bottom: 6px;
}
.con-reason-reflex .box-list .col-detail .box-highlight .txt-lg {
  font-weight: bold;
  text-transform: uppercase;
}
.con-reason-reflex .box-list .col-detail .box-highlight .img-ic {
  position: absolute;
  top: -20px;
  right: 16px;
  z-index: 2;
}
.con-reason-reflex .box-btn .btn {
  min-width: 260px;
}

/* -----------------------------------------------------------
	.con-rbenefit
----------------------------------------------------------- */
.con-benefit {
  overflow: hidden;
  padding-top: 128px;
}
.con-benefit .box-list .item {
  background: #f7fafc;
  border-radius: 60px;
  padding: 56px 0 56px 64px;
  margin-bottom: 90px;
}
.con-benefit .box-list .item-press-talk {
  background: transparent url(../images/bg-press-talk.png) no-repeat left top;
  background-size: 100% 100%;
}
.con-benefit .box-list .item-trend {
  background: transparent url(../images/bg-trend.png) no-repeat left top;
  background-size: 100% 100%;
}
.con-benefit .box-list .item-trend .col-image img {
  width: 120%;
  max-width: none;
}
.con-benefit .box-list .item-suggest {
  background: transparent url(../images/bg-suggest.png) no-repeat left top;
  background-size: 100% 100%;
  padding-right: 64px;
}
.con-benefit .box-list .col-detail .box-detail {
  max-width: 652px;
}
.con-benefit .box-list .col-detail .txt-lg {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.25;
  color: #1A202C;
  margin: 0 0 20px;
}
.con-benefit .box-list .col-detail .txt {
  font-size: 20px;
  line-height: 1.8;
  color: #4A5568;
}
.con-benefit .box-list .col-detail svg {
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -0.5em;
}
.con-benefit .box-list .col-image {
  text-align: right;
}
/* -----------------------------------------------------------
	.con_newsbitu
----------------------------------------------------------- */
.con_newsbitu .title-lg {
  text-align: left;
}

/* -----------------------------------------------------------
	.con_marketing
----------------------------------------------------------- */
.con_marketing {
  background: #F7FAFC;
  padding: 60px 0;
}
.con_marketing .box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.con_marketing .box-text p {
  margin: 0;
}
.con_marketing .box-text .icon {
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100%;
  position: relative;
  background: #FF9A03;
  background: -webkit-gradient(linear, right top, left top, from(#FF9A03), to(#FF6D03));
  background: linear-gradient(to left, #FF9A03, #FF6D03);
}
.con_marketing .box-text .icon img {
  max-width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 992px) {
  .con_marketing .box-text .icon {
    width: 44px;
    height: 44px;
  }
}
.con_marketing .box-text .txt {
  font-size: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 992px) {
  .con_marketing .box-text .txt {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .con_marketing .box-text .txt {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .con_marketing .box-text {
    margin-top: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .con_marketing {
    padding: 12px 0 30px;
  }
}