@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
.btn-orange {
	position: relative;
	height: 56px;
	font-weight: 500;
	font-size: 20px;
	color: #fff !important;
	text-decoration: none;
	outline: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7003+0,ff9703+100 */
	background: rgb(255,112,3);
	background: -moz-linear-gradient(left,  rgba(255,112,3,1) 0%, rgba(255,151,3,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,112,3,1) 0%,rgba(255,151,3,1) 100%);
	background: linear-gradient(to right,  rgba(255,112,3,1) 0%,rgba(255,151,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7003', endColorstr='#ff9703',GradientType=1 );
	border-radius: 16px;
	box-shadow: 0 10px 24px 4px rgba($primary, 0.3) !important;
	padding: 12px 15px;
	@include mq(max_sm) {
		height: 52px;
		font-size: 18px;
		padding: 11px 15px;
	}
	@include mq(max_sm) {
		box-shadow: 0 7px 16px 0px rgba($primary, 0.3) !important;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
	&:before {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgb(217,91,0);
		background: -moz-linear-gradient(left,  rgba(217,91,0,1) 0%, rgba(255,131,3,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(217,91,0,1) 0%,rgba(255,131,3,1) 100%);
		background: linear-gradient(to right,  rgba(217,91,0,1) 0%,rgba(255,131,3,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d95b00', endColorstr='#ff8303',GradientType=1 );
		border-radius: 16px;
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}
.btn-white {
	position: relative;
	font-size: 18px;
	color: $primary !important;
	background: #fff;
	border: 0;
	text-decoration: none;
	outline: 0;
	border-radius: 12px;
	box-shadow: none;
	padding: 8.5px 15px;
	&:hover {
		color: #fff !important;
		background: $primary;
	}
	&:focus {
		box-shadow: 0 0 0 0.25rem rgba($primary, 0.18);
	}
}
.btn-outline-orange {
	position: relative;
	font-size: 20px;
	color: $primary !important;
	background: none;
	border: 1px solid $primary;
	text-decoration: none;
	outline: 0;
	border-radius: 12px;
	box-shadow: none;
	padding: 10px 15px;
	&:hover {
		color: #fff !important;
		background: $primary;
	}
	&:focus {
		box-shadow: 0 0 0 0.25rem rgba($primary, 0.18);
	}
}