@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
	padding: 10px;
	position: relative;
	&.fixed {
		position: fixed;
		top: 0;left: 0;
		width: 100%;
		background: white;
		z-index: 1000;
	}
	.col-logo {
		.logo {
		}
	}
	.col-nav {
		padding-right: 90px;
		@include mq(max_sm){
			padding-right: 0;
		}
	}
	.box-language {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		@include mq(max_sm){
			display: none;
		}
	}

	.dropdown-toggle {
		border: 0;
		background: none;
		&:after {
			display: none;
		}
	}
}

.main-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 22px;
		a {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			font-weight: 500;
			font-size: 17px;
			color: #1a202c;
			text-decoration: none;
			&:hover,
			&.active {
				color: $primary;
			}
			&:before {
				content: '';
			}
		}
	}
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas {
	&.show {
		width: 100%;
		border: 0;
	}
	.main-nav {
		text-align: center;
		li {
			display: block;
			a {
				padding: 1rem;
			}
		}
	}
}
