@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-intro
----------------------------------------------------------- */
.con-intro {
	position: relative;
	padding: 50px 0 96px;
	@include mq(max_xl) {
		padding: 10px 0 0;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: (1565 / 1920) * 100vw;
		height: (392 / 1920) * 100vw;
		background: transparent url(../images/bg-intro-dots.png) repeat left top;
	}
	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: (940 / 1920) * 100vw;
		height: (1030 / 1920) * 100vw;
		background: transparent url(../images/bg-intro.png) no-repeat right top;
		background-size: contain;
		@media only screen and (min-width: 2000px) {
			max-width: 980px;
		}
		@include mq(max_xl) {
			top: 10vw;
			width: 46vw;
		}
		@include mq(max_lg) {
			top: 10vw;
		}
		@include mq(max_md) {
			top: 13vw;
		}
		@include mq(max_sm) {
			display: none;
		}
	}
	> * {
		position: relative;
		z-index: 2;
	}
	.box-intro {
		position: relative;
		padding-left: 50px;
		@include mq(max_lg) {
			padding-left: 0;
		}
	}
	.title-lg {
		text-align: left;
		margin-bottom: 40px;
		@include mq(max_md) {
			margin-bottom: 30px;
		}
		@include mq(max_sm) {
			margin-bottom: 10px;
		}
		.text-primary {
			background: linear-gradient(to right, #ff7003 0%, #ff9703 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}
	.register-form-common {
		box-shadow: 0 7px 16px 2px rgba(0, 0, 0, 0.10);
		max-width: 594px;
		margin-bottom: 64px;
		@include mq(max_xl) {
			max-width: 494px;
		}
		@include mq(max_lg) {
			max-width: 460px;
			margin-bottom: 40px;
		}
		@include mq(max_md) {
			max-width: 50%;
			box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.10);
			padding: 25px;
			margin-bottom: 30px;
		}
		@include mq(max_sm) {
			max-width: 100%;
			border-radius: 16px;
			position: relative;
			margin-bottom: 0;
			&:before {
				display: block;
				content: "";
				position: absolute;
				top: 0;
				left: 8%;
				width: 84%;
				height: 4px;
				background: linear-gradient(to right,  rgba(255,109,3,1) 0%,rgba(255,150,4,1) 100%);
			}
		}
		.btn-advisory {
			min-width: 259px;
			@include mq(max_lg) {
				box-shadow: 0 7px 16px 0px rgba($primary, 0.3) !important;
			}
			@include mq(max_sm) {
				width: 100%
			}
		}
		.title-register {
			@include mq(max_sm) {
				font-size: 20px
			}
		}
		.form-group {
			@include mq(max_sm) {
				margin-bottom: 16px;
			}
		}
		.form-control {
			@include mq(max_sm) {
				height: 48px;
			}
		}
	}
	.img-intro-sp {
		margin: 0 -12px 30px;
		img {
			width: 100%;
		}
	}
	.box-rating {
		.col-logo {
			padding: 7px 8px 8px 10px;
			border-radius: 100%;
			background-color: white;
			border: 1px solid #E2E8F0;
			img {
				max-width: 52px;
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				position: relative;
				&:not(:last-child) {
					padding-right: 32px;
					margin-right: 32px;
					@include mq(max_sm) {
						padding-right: 10px;
						margin-right: 10px;
					}
					&:before {
						content: '';
						position: absolute;
						right: 0;
						top: 50%;
						transform: translate(0, -50%);
						width: 1px;
						height: 70%;
						border-right: 1px solid #5f636b;
					}
				}
			}
		}
		.box-details {
			padding-left: 14px;
			@include mq(max_sm) {
				padding-right: 8px;
			}
			.rating {
				span {
					font-size: 32px;
					font-weight: 500;
					line-height: 1;
					color: $primary;
					margin-right: 6px;
					@include mq(max_sm) {
						font-size: 26px;
					}
				}
				.stars {
					svg {
						margin-right: 3px;
					}
				}
			}
			.count {
				font-size: 16px;
				color: #7f8da1;
			}
		}
		.btn-play {
			display: flex;
			align-items: center;
			background: none;
			border: 0;
			outline: 0;
			box-shadow: none;
			&:hover {
				.ic {
					background: rgba($primary, 0.3);
				}
				.text {
					color: $primary;
				}
			}
			.ic {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 72px;
				height: 72px;
				border-radius: 50%;
				background: rgba($primary, 0.1);
				margin-right: 14px;
				transition: all 0.4s ease;
				@include mq(max_lg) {
					width: 60px;
					height: 60px;
				}
				@include mq(max_sm) {
					margin-right: 8px;
				}
			}
			.text {
				font-size: 18px;
				transition: all 0.4s ease;
				@include mq(max_sm) {
					font-size: 16px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-reason-speaking
----------------------------------------------------------- */
.con-reason-speaking {
	position: relative;
	z-index: 2;
	padding-top: 148px;
	@include mq(max_lg) {
		padding-top: 70px;
	}
	@include mq(max_sm) {
		padding-top: 60px;
	}
	.title-lg {
		margin-bottom: 30px;
		@include mq(max_md) {
			margin-bottom: 20px;
		}
	}
	.box-img {
		position: relative;
		max-width: 1096px;
		@include mq(max_lg) {
			max-width: 100%;
		}
	}
}

/* -----------------------------------------------------------
	.con-reason-reflex
----------------------------------------------------------- */
.con-reason-reflex {
	padding-top: 123px;
	@include mq(max_lg) {
		padding-top: 70px;
	}
	@include mq(max_sm) {
		padding-top: 50px;
	}
	.title-lg {
		margin-bottom: 24px;
		svg {
			@include mq(max_xs) {
				margin-bottom: -3px;
			}
		}
	}
	.box-list {
		margin-bottom: 40px;
		@include mq(max_sm) {
			margin-bottom: 25px;
		}
		.item {
			background: #f7fafc;
			border-radius: 60px;
			padding: 64px;
			margin-bottom: 90px;
			@include mq(max_lg) {
				padding: 50px;
				margin-bottom: 50px;
			}
			@include mq(max_md) {
				padding: 40px;
			}
			@include mq(max_sm) {
				padding: 30px;
				margin-bottom: 30px;
			}
			@include mq(max_xs) {
				border-radius: 8px;
				padding: 16px;
			}
		}
		.col-title {
			@include mq(max_md) {
				margin-bottom: 20px;
			}
			@include mq(max_xs) {
				margin-bottom: 10px;
			}
			.txt-title {
				max-width: 400px;
				font-weight: 500;
				font-size: 36px;
				line-height: (46 / 36);
				@include mq(max_lg) {
					font-size: 34px;
				}
				@include mq(max_md) {
					font-size: 30px;
				}
				@include mq(max_sm) {
					font-size: 20px;
				}
				span {
					text-decoration: underline;
				}
			}
		}
		.col-detail {
			.box-detail {
				max-width: 650px;
			}
			.txt {
				font-size: 20px;
				line-height: (28 / 20);
				color: #4A5568;
				margin-bottom: 24px;
				@include mq(max_sm) {
					font-size: 16px;
				}
			}
			.box-highlight {
				position: relative;
				font-size: 20px;
				line-height: (25 / 20);
				background: #fff;
				border-radius: 16px;
				border: 1px solid $primary;
				padding: 16px 110px 16px 20px;
				@include mq(max_sm) {
					font-size: 18px;
				}
				@include mq(max_xs) {
					font-size: 16px;
					padding: 12px 96px 12px 12px;
				}
				.txt-md {
					margin-bottom: 6px;
				}
				.txt-lg {
					font-weight: bold;
					text-transform: uppercase;
				}
				.img-ic {
					position: absolute;
					top: -20px;
					right: 0;
					z-index: 2;
					@include mq(max_xs) {
						top: -10px;
						right: -20px;
						width: 130px;
					}
				}
			}
		}
	}
	.box-btn {
		.btn {
			min-width: 295px;
			@include mq(max_sm) {
				min-width: 0;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
.con-benefit {
	padding-top: 128px;
	@include mq(max_lg) {
		padding-top: 90px;
	}
	@include mq(max_sm) {
		padding-top: 60px;
	}
	@include mq(max_xs) {
		margin-bottom: 110px;
	}
	.box-list {
		.item {
			margin-bottom: 90px;
			@include mq(max_lg) {
				margin-bottom: 50px;
			}
			.box-item {
				border-radius: 60px;
				padding: 56px 0 56px 64px;
				@include mq(max_lg) {
					padding: 50px 0 50px 50px;
				}
				@include mq(max_md) {
					padding: 40px 0 40px 40px;
				}
				@include mq(max_sm) {
					padding: 30px;
				}
				@include mq(max_xs) {
					border-radius: 0;
					background: none !important;
					border-radius: 0;
					padding: 30px 0;
				}
			}
		}
		.item-press-talk {
			@include mq(max_xs) {
				background: transparent url(../images/bg-press-talk-sp.png) no-repeat left top;
				background-size: 100% 100%;
			}
			.box-item {
				background: transparent url(../images/bg-press-talk.png) no-repeat left top;
				background-size: 100% 100%;
				padding: 10px 0;
				.col-detail {
					padding: 46px 0 46px 76px;
					@include mq(xl) {
						width: 55.07%;
					}
					@include mq(max_lg) {
						padding: 40px 0 40px 62px;
					}
					@include mq(max_md) {
						padding: 30px 0 30px 52px;
					}
					@include mq(max_sm) {
						padding: 20px 42px;
					}
				}
				.col-image {
					@include mq(xl) {
						width: 43.93%;
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
		.item-trend {
			overflow: hidden;
			@include mq(max_xs) {
				overflow: visible;
				background: transparent url(../images/bg-trend-sp.png) no-repeat left top;
				background-size: 100% 100%;
				margin-bottom: 90px;
			}
			.box-item {
				background: transparent url(../images/bg-trend.png) no-repeat left top;
				background-size: 100% 100%;
				@include mq(xxl) {
					padding-top: 20px;
					padding-bottom: 0;
				}
				.col-image {
					img {
						width: 120%;
						max-width: none;
						@include mq(max_xl) {
							max-width: 110%;
						}
						@include mq(max_sm) {
							max-width: 100%;
						}
						@include mq(max_xs) {
							margin-bottom: -100px;
						}
					}
				}
			}
		}
		.item-suggest {
			@include mq(max_xs) {
				background: transparent url(../images/bg-suggest-sp.png) no-repeat left top;
				background-size: 100% 100%;
				margin-bottom: 90px;
			}
			.box-item {
				background: transparent url(../images/bg-suggest.png) no-repeat left top;
				background-size: 100% 100%;
				padding-right: 64px;
				@include mq(max_lg) {
					padding-right: 20px;
				}
				.col-image {
					img {
						@include mq(max_xs) {
							margin-bottom: -90px;
						}
					}
				}
			}
		}
		.col-detail {
			.box-detail {
				max-width: 652px;
				@include mq(max_xl) {
					max-width: 100%;
				}
			}
			.title-lg {
				text-align: left;
				margin: 0 0 30px;
				@include mq(max_md) {
					font-size: 34px;
					margin-bottom: 20px;
				}
				@include mq(max_sm) {
					font-size: 24px;
					margin-bottom: 10px;
				}
			}
			.txt {
				font-size: 20px;
				line-height: 1.8;
				color: #4A5568;
				@include mq(max_sm) {
					font-size: 18px;
				}
			}
			svg {
				vertical-align: middle;
				margin-right: 8px;
				margin-top: -0.5em;
			}
		}
		.col-image {
			text-align: right;
			@include mq(max_sm) {
				text-align: center;
			}
			img {
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-moderators
----------------------------------------------------------- */
.con-moderators {
	padding-top: 80px;
	@include mq(max_sm) {
		padding-top: 60px;
	}
	@include mq(max_xs) {
		padding-top: 0;
	}
	.box-moderator-wrapper {
		overflow: hidden;
		@include mq(max_xs) {
			background: rgba(72,187,120, 0.1);
		}
		.box-bg {
			position: relative;
			background: rgba(72,187,120, 0.1);
			border-radius: 64px;
			padding: 88px 64px 70px;
			@include mq(max_lg) {
				padding: 50px;
			}
			@include mq(max_md) {
				padding: 40px;
			}
			@include mq(max_sm) {
				padding: 35px 30px 40px;
			}
			@include mq(max_xs) {
				background: none;
				border-radius: 0;
				padding: 50px 0;
			}
			&:before {
				content: '';
				position: absolute;
				left: 10px;
				top: 10px;
				width: (309 / 1400) * 100%;
				height: (309 / 1400) * 100%;
				background: transparent url(../images/bg-ic-moderators.png) no-repeat left top;
				background-size: contain;
				@include mq(max_xs) {
					right: 0;
					left: auto;
					width: 60%;
					height: 25%;
					background-position: right top;
				}
			}
			> * {
				position: relative;
			}
		}
	}
	.box-btn {
		margin-top: 70px;
		@include mq(max_lg) {
			margin-top: 40px;
		}
		.btn-advisory {
			min-width: 259px;
		}
	}
	.title-lg {
		margin-bottom: 20px;
		@include mq(max_xs) {
			font-size: 24px;
		}
	}
	.box-des {
		max-width: 1100px;
		font-size: 20px;
		text-align: center;
		margin: 0 auto 40px;
		@include mq(max_sm) {
			margin-bottom: 20px;
		}
		@include mq(max_xs) {
			font-size: 18px;
		}
	}
	.box-slider-wrapper {
	}
	.box-slider-pc {
		position: relative;
		.box-slider {
			overflow: hidden;
		}
		.slick-list {
			margin: 0 -12px;
		}
		.slide-item {
			padding: 0 12px;
		}
	}
	.box-news-mobile {
		.box-slider {
			width: 60vw;
			margin-left: 0;
			margin-right: auto;
			overflow: visible;
		}
		.slick-list {
			overflow: visible;
			margin: 0 -7.5px;
		}
		.slide-item {
			padding: 0 7.5px;
		}
	}
	.slick-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		z-index: 2;
		width: 60px;
		height: 60px;
		background: $primary;
		text-indent: -9999px;
		border-radius: 50%;
		border: 0;
		outline: 0;
		padding: 0;
		margin: 0;
		@include mq(max_lg) {
			top: 47%;
		}
		@include mq(max_md) {
			top: 50%;
			width: 50px;
			height: 50px;
		}
		&:hover {
			background: darken($primary, 6%);
		}
	}
	.slick-prev {
		left: 0;
		transform: translate(-50%, -50%);
	}
	.slick-next {
		right: 0;
		transform: translate(50%, -50%);
	}
	.box-moderator {
		background: white;
		border-radius: 16px;
		.box-details {
			padding: 12px 20px 20px;
			@include mq(max_xs) {
				padding: 8px 12px 12px;
			}
		}
		.photo {
		}
		.box-details {
			.name {
				font-size: 500px;
				font-size: 24px;
				line-height: (30 / 24);
				margin-bottom: 8px;
				@include mq(max_xs) {
					font-size: 16px;
					margin-bottom: 0;
				}
			}
			ul.box-count {
				list-style: none;
				padding: 0;
				margin: 0 0 8px;
				@include mq(max_xs) {
					margin-bottom: 5px;
				}
				li {
					display: inline-block;
					vertical-align: middle;
					font-size: 19px;
					margin-right: 14px;
					@include mq(max_lg) {
						font-size: 16px;
					}
					@include mq(max_xs) {
						margin-right: 5px;
					}
					&:last-child {
						margin-right: 0 !important;
					}
					> * {
						display: inline-block;
						vertical-align: middle;
					}
					&.country {
						.flag {
							margin-right: 6px;
							@include mq(max_lg) {
								margin-right: 0;
							}
							@include mq(max_xs) {
								width: 16px;
							}
						}
						span {
						}
					}
					&.star {
						svg {
							margin-right: 5px;
							@include mq(max_lg) {
								margin-right: 0;
							}
							@include mq(max_xs) {
								width: 13px;
								height: 13px;
							}
						}
						.rating {
							.total {
								color: #718096;
							}
						}
					}
				}
			}
			.des {
				font-size: 15px;
				color: #718096;
				margin-bottom: 8px;
				@include mq(max_xs) {
					font-size: 12px;
				}
			}
			.btn-view-more {
				display: inline-flex;
				align-items: center;
				font-size: 15px;
				color: $primary;
				background: none;
				border: 0;
				outline: 0;
				text-decoration: none;
				&:hover {
					opacity: 0.7;
				}
				svg {
					margin-right: 8px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-classroom-model
----------------------------------------------------------- */
.con-classroom-model {
	padding: 80px 0 0;
	@include mq(max_lg) {
		padding: 70px 0 0;
	}
	@include mq(max_sm) {
		padding: 50px 0 0;
	}
	.title-lg {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		height: 100%;
		text-align: left !important;
		@include mq(max_md) {
			margin-bottom: 30px;
		}
		@include mq(max_sm) {
			margin-bottom: 20px;
		}
		&:before {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: auto;
			height: 2px;
			background: #718096;
			@include mq(max_md) {
				display: none;
			}
		}
	}
	.box-list-wrapper {
		@include mq(max_xs) {
			background: #fff0e6;
		}
	}
	.box-list {
		border-radius: 64px;
		background: #fff0e6;
		padding: 64px;
		@include mq(max_lg) {
			padding: 40px;
		}
		@include mq(max_md) {
			padding: 30px;
		}
		@include mq(max_xs) {
			background: none;
			border: 0;
			padding: 40px 0;
		}
		.list {
			margin: 0 -20px;
			@include mq(max_md) {
				margin: 0 -10px;
			}
			@include mq(max_xs) {
				margin: 0 -6px;
			}
		}
		.item {
			flex: 0 0 auto;
			width: 23%;
			padding: 0 20px;
			@include mq(max_md) {
				padding: 0 10px;
			}
			@include mq(max_sm) {
				width: (100% / 3) !important;
			}
			@include mq(max_xs) {
				padding: 0 6px;
			}
			&:nth-child(3n+1) {
				.txt {
					justify-content: flex-start;
					background: none;
					text-align: left;
					font-weight: 500;
					padding-left: 0;
					padding-right: 0;
					&:before {
						background: #f1e4d8;
						left: 0;
						right: 0;
					}
				}
			}
			&:not(:nth-child(3n+1)) {
				width: (100% - 23%) / 2;
			}
		}
		.title-class {
			position: relative;
			height: 100%;
			background: #fff;
			border-top-left-radius: 32px;
			border-top-right-radius: 32px;
			padding: 26px 16px;
			@include mq(max_sm) {
				padding-bottom: 15px;
			}
			@include mq(max_xs) {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 0;
				width: auto;
				height: 2px;
				background: $primary;
				@include mq(max_sm) {
					left: 10px;
					right: 10px;
				}
			}
			&.class-11 {
				.txt-lg {
					color: $primary;
				}
			}
			&.class-12 {
				&:before {
					background: #2971f0;
				}
				.txt-lg {
					color: #2971f0;
				}
			}
			.txt-lg {
				display: flex;
				justify-content: center;
				font-size: 36px;
				font-weight: 500;
				@include mq(max_md) {
					font-size: 28px;
				}
				@include mq(max_sm) {
					font-size: 24px;
				}
				@include mq(max_xs) {
					font-size: 21px;
					margin-bottom: -10px;
				}
				.ic-class {
					position: relative;
					svg {
						@include mq(max_md) {
							width: 80px;
							margin-top: -7px;
						}
						@include mq(max_sm) {
							width: 60px;
							margin-top: -12px;
						}
						@include mq(max_xs) {
							width: 50px;
							margin-top: -16px;
						}
					}
					.number {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						text-align: center;
						color: #fff;
					}
				}
			}
			.txt-md {
				text-align: center;
			}
		}
		.txt,
		.title-class .txt-md {
			font-size: 18px;
			line-height: (23 / 18);
			@include mq(max_md) {
				font-size: 16px;
			}
			@include mq(max_sm) {
				font-size: 15px;
			}
		}
		.txt {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 100%;
			position: relative;
			background: #fff;
			padding: 16.5px 30px;
			@include mq(max_sm) {
				padding: 12px 10px;
			}
			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 0;
				width: auto;
				height: 1.1px;
				background:#edf2f7;
				@include mq(max_sm) {
					left: 10px;
					right: 10px;
				}
			}
		}
		.title-lg-sp {
			height: 100%;
			border-bottom: 1px solid #f1e4d8;
		}
		.last-item-11,
		.last-item-12 {
			.txt {
				height: 26px;
				background: #fff;
				border-bottom-left-radius: 32px;
				border-bottom-right-radius: 32px;
				@include mq(max_xs) {
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
				}
			}
		}
	}
	.box-bottom-btns {
		max-width: 1010px;
		margin-top: 52px;
		@include mq(max_xl) {
			max-width: 100%;
		}
		@include mq(max_sm) {
			margin-top: 10px;
		}
		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			@include mq(max_lg) {
				font-size: 16px;
			}
			@include mq(max_sm) {
				height: auto;
				margin-top: 20px;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-for-everyone
----------------------------------------------------------- */
.con-for-everyone {
	position: relative;
	padding: 120px 0 146px;
	@include mq(max_lg) {
		padding: 70px 0 80px;
	}
	@include mq(max_sm) {
		padding: 50px 0 60px;
	}
	.title-lg {
		margin-bottom: 80px;
		@include mq(max_lg) {
			margin-bottom: 50px;
		}
		@include mq(max_sm) {
			margin-bottom: 30px;
		}
		@include mq(max_xs) {
			margin-bottom: 20px;
		}
	}
	.box-list {
		margin-bottom: 50px;
		@include mq(max_lg) {
			margin-bottom: 30px;
		}
		@include mq(max_md) {
			margin-bottom: 20px;
		}
		@include mq(max_xs) {
			margin-bottom: 10px;
		}
		.list {
		}
		.item {
			text-align: center;
			margin-bottom: 40px;
			@include mq(max_sm) {
				display: inline-flex;
				text-align: left;
				margin-bottom: 30px;
			}
		}
		.box-icon {
			margin-bottom: 30px;
			@include mq(max_lg) {
				width: 50px;
				margin-bottom: 20px;
			}
			@include mq(max_sm) {
				width: 40px;
				height: 40px;
				margin-right: 10px;
				margin-bottom: 0;
			}
		}
		.box-txt {
			.txt {
				max-width: 280px;
				font-size: 20px;
				margin: auto;
				@include mq(max_lg) {
					max-width: 100%;
				}
				@include mq(max_md) {
					font-size: 18px;
				}
				@include mq(max_xs) {
					font-size: 16px;
				}
			}
		}
	}
	.box-btn {
		.btn {
			min-width: 295px;
			@include mq(max_sm) {
				min-width: 0;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-effective
----------------------------------------------------------- */
.con-effective {
	position: relative;
	background: #f8f6f3;
	padding: 92px 0 0;
	@include mq(max_lg) {
		padding: 70px 0 0;
	}
	@include mq(max_sm) {
		padding: 50px 0 60px;
	}
	&:before {
		display: block;
		content: '';
		position: absolute;
		left: 50%;
		top: 57%;
		transform: translate(-50%, -50%);
		width: (1565 / 1920) * 100vw;
		height: 592px;
		background: transparent url(../images/bg-effective.png) repeat left top;
		@include mq(max_sm) {
			display: none;
		}
	}
	> * {
		position: relative;
	}
	.container {
		@include mq(xxl) {
			max-width: 1300px;
		}
	}
	.title-lg {
		margin-bottom: 40px;
		@include mq(max_sm) {
			margin-bottom: 30px;
		}
		@include mq(max_xs) {
			margin-bottom: 20px;
		}
	}
	.box-slider-wrapper {
		overflow: hidden;
		margin-bottom: 70px;
		@include mq(max_sm) {
			margin-bottom: 50px;
		}
		.slick-arrow {
			display: flex;
			justify-content: center;
			align-items: center;
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translate(0, -50%);
      width: 60px;
      height: 60px;
			background: $primary;
      text-indent: -9999px;
			border-radius: 50%;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
			@include mq(max_md) {
				width: 50px;
      	height: 50px;
			}
			&:hover {
				background: darken($primary, 6%);
			}
    }
		.slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
	}
	.box-slider-pc {
		position: relative;
		padding: 0 110px;
		@include mq(max_md) {
			padding: 0 80px;
		}
		.box-slider {
			overflow: hidden;
		}
		.slick-list {
			margin: 0 -30px;
			@include mq(max_lg) {
				margin: 0 -15px;
			}
		}
		.slide-item {
			padding: 0 30px;
			@include mq(max_lg) {
				padding: 0 15px;
			}
		}
	}
	.box-news-mobile {
		.box-slider {
			width: 60vw;
			margin-left: 0;
			margin-right: auto;
			overflow: visible;
		}
		.slick-list {
			overflow: visible;
			margin: 0 -7.5px;
		}
		.slide-item {
			padding: 0 7.5px;
		}
	}

	.box-progress {
		position: relative;
		z-index: 2;
		margin: 0 auto -64px;
		@include mq(max_sm) {
			margin-bottom: 0;
		}
		.box-bg {
			background: #f2ede7;
			border-radius: 64px;
			padding: 64px 64px 80px;
			@include mq(max_lg) {
				padding: 50px 50px 80px;
			}
			@include mq(max_md) {
				padding: 40px 40px 70px;
			}
			@include mq(max_sm) {
				padding: 30px;
				border-radius: 16px;
			}
			@include mq(max_xs) {
				border-radius: 16px;
				padding: 25px 15px;
			}
		}
		.box-text {
			margin-bottom: 36px;
			@include mq(max_sm) {
				margin-bottom: 20px;
			}
			.box-title {
				.txt-title {
					display: table;
					position: relative;
					font-weight: bold;
					font-size: 48px;
					line-height: (61 / 48);
					margin-bottom: 14px;
					@include mq(max_md) {
						font-size: 34px;
					}
					@include mq(max_sm) {
						display: block;
						font-size: 28px;
					}
					@include mq(max_xs) {
						padding-right: 100px;
					}
					span {
						display: block;
						color: $primary;
					}
				}
				.ic-cerf {
					position: absolute;
					right: 25px;
					top: 70px;
					@include mq(max_lg) {
						right: -70px;
						top: 56px;
						width: 80px;
					}
					@include mq(max_md) {
						right: -70px;
						top: 26px;
						width: 70px;
					}
					@include mq(max_sm) {
						right: 0;
						top: -10px;
					}
					@include mq(max_xs) {
						top: 0;
					}
				}
				.btn {
				}
			}
			.txt {
				color: #4A5568;
				font-size: 18px;
				@include mq(max_sm) {
					font-size: 16px;
				}
			}
		}
	}
	.box-diagram-pc {
		position: relative;
		width: 100%;
		max-width: 914px;
		margin: auto;
		.img-diagram {
		}
		.txt-step {
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 15px;
			@include mq(max_md) {
				font-size: 14px;
			}
		}
		.txt-step-1 {
			left: 29.4%;
		}
		.txt-step-2 {
			left: 69.2%;
		}
		.txt-bottom {
			position: absolute;
			top: 100%;
			transform: translate(-50%, 6px);
			font-size: 20px;
			white-space: nowrap;
			@include mq(max_md) {
				font-size: 18px;
			}
		}
		.txt-beginner {
			left: 10%;
		}
		.txt-elementary {
			left: 50%;
		}
		.txt-pre-intermediate {
			left: 90.6%;
		}
	}
	.box-diagram-mobile {
		position: relative;
		.txt-step {
			font-size: 15px;
			@include mq(max_xs) {
				font-size: 14px;
			}
		}
		.txt-step-1 {
			position: absolute;
			top: 50%;
			transform-origin: center center;
			transform: translate(-50%, -50%) rotate(-43deg);
			left: 32.9%;
		}
		.txt-step-2 {
			position: absolute;
			top: 51%;
			transform: translate(-50%, -50%) rotate(43deg);
			left: 68.2%;
		}
	}
}

/* -----------------------------------------------------------
	.con-register-advisory
----------------------------------------------------------- */
.con-register-advisory {
	position: relative;
	background: rgb(255,109,3);
	background: -moz-linear-gradient(left,  rgba(255,109,3,1) 0%, rgba(255,150,4,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,109,3,1) 0%,rgba(255,150,4,1) 100%);
	background: linear-gradient(to right,  rgba(255,109,3,1) 0%,rgba(255,150,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6d03', endColorstr='#ff9604',GradientType=1 );
	padding: 170px 0 122px;
	@include mq(max_lg) {
		padding: 140px 0 80px;
	}
	@include mq(max_sm) {
		background: none;
		padding: 60px 0 0;
	}
	@include mq(max_xs) {
		padding: 40px 0 0;
	}
	&:before {
		display: block;
		content: '';
		position: absolute;
		left: 55%;
		right: 20%;
		top: 75px;
		bottom: 20px;
		background: transparent url(../images/bg-register-advisory.png) repeat left top;
		@include mq(max_sm) {
			display: none;
		}
	}
	> * {
		position: relative;
	}
	.box-register {
		padding-right: 24px;
		@include mq(max_md) {
			padding-right: 0;
			margin-bottom: 50px;
		}
	}
	.box-btn-advisory {
		text-align: center;
		margin-bottom: 50px;
	}
	.btn-advisory {
		min-width: 259px;
	}
	.box-play {
		position: relative;
		.img {
		}
		.btn-play {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;
			border: 0;
			outline: 0;
			box-shadow: none;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: rgba(#1a202c, 0.68);
			@include mq(max_lg) {
				width: 60px;
				height: 60px;
			}
			&:hover {
				background: rgba(#1a202c, 0.9);
			}
			svg {
			}
		}
	}
}
.youtube-modal {
	position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 50px auto;
	.box-iframe {
		text-align: center;
    position: relative;
    width: 100%;
		max-width: 80vw;
    padding-top: 56.25%;
		margin: auto;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }
	}
}


/* -----------------------------------------------------------
	.con-newsbitu
----------------------------------------------------------- */
.con-newsbitu {
	overflow: hidden;
	padding: 175px 0;
	@include mq(max_xl) {
		padding: 120px 0;
	}
	@include mq(max_lg) {
		padding: 70px 0;
	}
	@include mq(max_sm) {
		padding: 50px 0;
	}
	.title-lg {
		text-align: left;
		margin-bottom: 24px;
		@include mq(max_md) {
			margin-bottom: 10px;
		}
		@include mq(max_sm) {
			margin-bottom: 20px;
		}
	}
	.list-group {
		&-item {
			padding: 25px 0;
			border-color: #EDF2F7;
			&:last-child {
				border-bottom: 1px solid #EDF2F7;
			}

		}
	}
	.box-news {
		.col-photo {
			padding-right: 25px;
			@include mq(max_lg) {
				padding-right: 15px;
			}
			@include mq(max_sm) {
				padding-right: 0;
				margin-bottom: 10px;
			}
		}
		.col-logo {
			@include mq(max_sm) {
				margin-top: 12px;
			}
			img {
				@include mq(max_sm) {
					max-width: 95px;
				}
			}
		}
		.col-detail {
		}
		.thumb {
			display: block;
			position: relative;
			overflow: hidden;
			border-radius: 8px;
			&:hover {
				&:before, &:after {
					opacity: 1;
				}
			}
			&:before {
				opacity: 0;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(#000, 0.3);
				transition: all 0.4s ease;
			}
			&:after {
				opacity: 0;
				content: '\f0c1';
				position: absolute;
				left: 50%;
				top: 50%;
				color: white;
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				font-size: 26px;
				transition: all 0.4s ease;
				transform: translate(-50%, -50%);
			}
		}
		.box-detail {
			max-width: 607px;
			@include mq(max_lg) {
				max-width: 100%;
			}
			.title-item {
				margin: 0 0 12px;
				@include mq(max_sm) {
					margin-top: 10px;
				}
				a {
					font-weight: 500;
					font-size: 24px;
					line-height: (30 / 24);
					color: #1A202C;
					text-decoration: none;
					@include mq(max_md) {
						font-size: 20px;
					}
					@include mq(max_sm) {
						font-size: 18px;
					}
					&:hover {
						color: $primary;
					}
				}
			}
			.txt {
				color: #4A5568;
				font-size: 18px;
				@include mq(max_md) {
					font-size: 16px;
				}
				@include mq(max_sm) {
					display: none;
				}
			}
		}
	}
	.box-news-mobile {
		.box-slider {
			width: 50vw;
			margin-left: 0;
			margin-right: auto;
			overflow: visible;
			@include mq(max_xs) {
				width: 60vw;
			}
		}
	 .slick-list {
			overflow: visible;
			margin: 0 -7.5px;
		}
		.slide-item {
			padding: 0 7.5px;
		}
	}
}

/* -----------------------------------------------------------
	.con-marketing
----------------------------------------------------------- */
.con-marketing {
	background: #F7FAFC;
	padding: 60px 0;
	@include mq(max_sm) {
		padding: 30px 0;
	}
	.col-item {
		@include mq(max_md) {
			margin-bottom: 18px;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
	.box-text {
		display: flex;
    flex-direction: row;
    align-items: center;
		justify-content: center;
		p {
			margin: 0;
		}
		.icon {
			width: 80px;
			height: 80px;
			text-align: center;
			border-radius: 100%;
			position: relative;
			@include linear-gradient(left, #FF9A03, #FF6D03);
			@include mq(max_md) {
				width: 44px;
				height: 44px;
			}
			svg {
				position: absolute;
				top: 56%;
				left: 50%;
				max-width: 60%;
				@include transform(translate(-50%,-50%))
			}
		}
		.txt {
			font-size: 20px;
			font-weight: 500;
			@include mq(max_md) {
				font-size: 18px;
			}
			@include mq(max_xs) {
				font-size: 16px;
			}
		}
	}
}
.btn-compare,.btn-level-detail {
  display: block;
  text-decoration: none;
  min-width: max-content
}
