@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-reason-speaking
----------------------------------------------------------- */
.con-reason-speaking {
	padding-top: 112px;
	.title-lg {
		margin-bottom: 86px;
		@include mq(max_lg) {
			margin-bottom: 50px;
		}
		@include mq(max_sm) {
			margin-bottom: 30px;
		}
	}
	.box-img {
		position: relative;
		max-width: 1096px;
		@include mq(max_lg) {
			max-width: 100%;
		}
	}
}

/* -----------------------------------------------------------
	.con-reason-reflex
----------------------------------------------------------- */
.con-reason-reflex {
	padding-top: 180px;
	.title-lg {
		margin-bottom: 24px;
	}
	.box-list {
		margin-bottom: 40px;
		.item {
			background: #f7fafc;
			border-radius: 60px;
			padding: 64px;
			margin-bottom: 90px;
		}
		.col-title {
			.txt-title {
				max-width: 400px;
				font-weight: 500;
				font-size: 36px;
				line-height: (46 / 36);
				span {
					text-decoration: underline;
				}
			}
		}
		.col-detail {
			.box-detail {
				max-width: 630px;
			}
			.txt {
				font-size: 20px;
				line-height: (28 / 20);
				color: #4A5568;
				margin-bottom: 24px;
			}
			.box-highlight {
				position: relative;
				font-size: 20px;
				line-height: (25 / 20);
				background: #fff;
				border-radius: 16px;
				border: 1px solid $primary;
				padding: 16px 150px 16px 20px;
				.txt-md {
					margin-bottom: 6px;
				}
				.txt-lg {
					font-weight: bold;
					text-transform: uppercase;
				}
				.img-ic {
					position: absolute;
					top: -20px;
					right: 16px;
					z-index: 2;
				}
			}
		}
	}
	.box-btn {
		.btn {
			min-width: 260px;
		}
	}
}

/* -----------------------------------------------------------
	.con-rbenefit
----------------------------------------------------------- */
.con-benefit {
	overflow: hidden;
	padding-top: 128px;
	.box-list {
		.item {
			background: #f7fafc;
			border-radius: 60px;
			padding: 56px 0 56px 64px;
			margin-bottom: 90px;
		}
		.item-press-talk {
			background: transparent url(../images/bg-press-talk.png) no-repeat left top;
			background-size: 100% 100%;
		}
		.item-trend {
			background: transparent url(../images/bg-trend.png) no-repeat left top;
			background-size: 100% 100%;
			.col-image {
				img {
					width: 120%;
					max-width: none;
				}
			}
		}
		.item-suggest {
			background: transparent url(../images/bg-suggest.png) no-repeat left top;
			background-size: 100% 100%;
			padding-right: 64px;
		}
		.col-detail {
			.box-detail {
				max-width: 652px;
			}
			.txt-lg {
				font-weight: bold;
				font-size: 48px;
				line-height: (60 / 48);
				color: #1A202C;
				margin: 0 0 20px;
			}
			.txt {
				font-size: 20px;
				line-height: 1.8;
				color: #4A5568;
			}
			svg {
				vertical-align: middle;
				margin-right: 8px;
				margin-top: -0.5em;
			}
		}
		.col-image {
			text-align: right;
			img {
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-classroom-model
----------------------------------------------------------- */
.con-classroom-model {
	padding: 120px 0;
	.box-table {
		border-radius: 64px;
		background: #fff0e6;
		padding: 64px 24px;
	}
	table {
		width: 100%;
		border: 0;
		border-collapse: separate;
		border-spacing: 40px 0;
		tr {
			&:first-child {
				td {
					&:not(:first-child) {
						border-top-left-radius: 32px;
						border-top-right-radius: 32px;
					}
				}
			}
			&:last-child {
				td {
					&:not(:first-child) {
						border-bottom-left-radius: 32px;
						border-bottom-right-radius: 32px;
						padding-bottom: 26px;
					}
				}
			}
			td {
				vertical-align: top;
				font-size: 18px;
				line-height: (23 / 18);
				&:nth-child(1) {
					width: 21%;
				}
				&:nth-child(2),
				&:nth-child(3) {
					width: (100% - 21%) / 2;
					background: #fff;
					text-align: center;
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}
		.title-lg {
			text-align: left;
		}
		.border-top-gray {
			border-top: 2px solid #718096;
		}
		.border-top-orange {
			border-top: 2px solid $primary;
		}
		.cell-title-class {
			padding-top: 26px;
			.txt {
				padding-top: 0;
			}
		}
		.title-class {
			display: flex;
			justify-content: center;
			font-size: 36px;
			font-weight: 500;
			&.class-11 {
				color: $primary;
			}
			&.class-12 {
				color: #2971f0;
			}
			.txt-class,
			.ic-class .number {
				padding-top: 2px;
			}
			.ic-class {
				position: relative;
				svg {
				}
				.number {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					text-align: center;
					color: #fff;
				}
			}
		}
		.txt {
			border-bottom: 1px solid #edf2f7;
			padding: 16.5px 0;
		}
	}
}

/* -----------------------------------------------------------
	.con_newsbitu
----------------------------------------------------------- */
.con_newsbitu {
	padding: 120px 0;
	.title-lg {
		text-align: left;
		padding: 0 0 30px;
	}
	.list-group {
		&-item {
			padding: 25px 0;
			border-color: #EDF2F7;
			&:last-child {
				border-bottom: 1px solid #EDF2F7;
			}
			.box-photo {
				@include mq(md){
					width: 20%;
				}
			}
			.box-logo {
				@include mq(md){
					text-align: right;
					width: 30%;
				}
			}
			.box-details {
				h4 {
					color: #1A202C;
					@include mq(max_w, $md - 1){
						padding-top: 10px;
						font-size: 18px;
					}
				}
				p {
					color: #4A5568;
					font-size: 18px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_marketing
----------------------------------------------------------- */
.con_marketing {
	background: #F7FAFC;
	padding: 60px 0;
	@include mq(max_sm) {
		padding: 12px 0 30px;
	}
	.box-text {
		display: flex;
    flex-direction: row;
    align-items: center;
		justify-content: center;
		@include mq(max_sm) {
			margin-top: 18px;
		}
		p {
			margin: 0;
		}
		.icon {
			width: 80px;
			height: 80px;
			text-align: center;
			border-radius: 100%;
			position: relative;
			@include linear-gradient(left, #FF9A03, #FF6D03);
			@include mq(max_md) {
				width: 44px;
				height: 44px;
			}
			svg {
				position: absolute;
				top: 56%;
				left: 50%;
				max-width: 60%;
				@include transform(translate(-50%,-50%))
			}
		}
		.txt {
			font-size: 20px;
			font-weight: 500;
			@include mq(max_md) {
				font-size: 18px;
			}
			@include mq(max_xs) {
				font-size: 16px;
			}
		}
	}
}
