@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-reason-speaking
----------------------------------------------------------- */
.con-reason-speaking {
	padding-top: 112px;
	.title-lg {
		margin-bottom: 86px;
		@include mq(max_lg) {
			margin-bottom: 50px;
		}
		@include mq(max_sm) {
			margin-bottom: 30px;
		}
	}
	.box-img {
		position: relative;
		max-width: 1096px;
		@include mq(max_lg) {
			max-width: 100%;
		}
	}
}

/* -----------------------------------------------------------
	.con-reason-reflex
----------------------------------------------------------- */
.con-reason-reflex {
	padding-top: 180px;
	@include mq(max_lg) {
		padding-top: 80px;
	}
	@include mq(max_sm) {
		padding-top: 50px;
	}
	.title-lg {
		margin-bottom: 24px;
		svg {
			@include mq(max_xs) {
				margin-bottom: -3px;
			}
		}
	}
	.box-list {
		margin-bottom: 40px;
		@include mq(max_sm) {
			margin-bottom: 25px;
		}
		.item {
			background: #f7fafc;
			border-radius: 60px;
			padding: 64px;
			margin-bottom: 90px;
			@include mq(max_lg) {
				padding: 50px;
				margin-bottom: 50px;
			}
			@include mq(max_sm) {
				padding: 30px;
				margin-bottom: 30px;
			}
			@include mq(max_xs) {
				border-radius: 8px;
				padding: 20px;
			}
			&:first-child {
				@include mq(max_xs) {
					border: 1px solid #000;
					box-shadow: 0 4px 4px rgba(0,0,0,0.25);
				}
			}
		}
		.col-title {
			@include mq(max_md) {
				margin-bottom: 20px;
			}
			.txt-title {
				max-width: 400px;
				font-weight: 500;
				font-size: 36px;
				line-height: (46 / 36);
				@include mq(max_lg) {
					font-size: 34px;
				}
				@include mq(max_md) {
					font-size: 30px;
				}
				@include mq(max_sm) {
					font-size: 20px;
				}
				span {
					text-decoration: underline;
				}
			}
		}
		.col-detail {
			.box-detail {
				max-width: 650px;
			}
			.txt {
				font-size: 20px;
				line-height: (28 / 20);
				color: #4A5568;
				margin-bottom: 24px;
				@include mq(max_sm) {
					font-size: 16px;
				}
			}
			.box-highlight {
				position: relative;
				font-size: 20px;
				line-height: (25 / 20);
				background: #fff;
				border-radius: 16px;
				border: 1px solid $primary;
				padding: 16px 110px 16px 20px;
				@include mq(max_sm) {
					font-size: 18px;
				}
				@include mq(max_xs) {
					font-size: 16px;
				}
				.txt-md {
					margin-bottom: 6px;
				}
				.txt-lg {
					font-weight: bold;
					text-transform: uppercase;
				}
				.img-ic {
					position: absolute;
					top: -20px;
					right: 0;
					z-index: 2;
				}
			}
		}
	}
	.box-btn {
		.btn {
			min-width: 260px;
		}
	}
}

/* -----------------------------------------------------------
	.con-rbenefit
----------------------------------------------------------- */
.con-benefit {
	overflow: hidden;
	padding-top: 128px;
	@include mq(max_lg) {
		padding-top: 110px;
	}
	@include mq(max_sm) {
		padding-top: 80px;
	}
	.box-list {
		.item {
			margin-bottom: 90px;
			@include mq(max_lg) {
				margin-bottom: 50px;
			}
			.box-item {
				border-radius: 60px;
				padding: 56px 0 56px 64px;
				@include mq(max_lg) {
					padding: 50px 0 50px 50px;
				}
				@include mq(max_sm) {
					padding: 30px;
				}
				@include mq(max_xs) {
					border-radius: 0;
					background: none !important;
					border-radius: 0;
					padding: 30px 0;
				}
			}
		}
		.item-press-talk {
			@include mq(max_xs) {
				background: transparent url(../images/bg-press-talk-sp.png) no-repeat left top;
				background-size: 100% 100%;
			}
			.box-item {
				background: transparent url(../images/bg-press-talk.png) no-repeat left top;
				background-size: 100% 100%;
			}
		}
		.item-trend {
			@include mq(max_xs) {
				background: transparent url(../images/bg-trend-sp.png) no-repeat left top;
				background-size: 100% 100%;
				margin-bottom: 90px;
			}
			.box-item {
				background: transparent url(../images/bg-trend.png) no-repeat left top;
				background-size: 100% 100%;
				.col-image {
					img {
						width: 120%;
						max-width: none;
						@include mq(max_xl) {
							max-width: 110%;
						}
						@include mq(max_sm) {
							max-width: 100%;
						}
						@include mq(max_xs) {
							margin-bottom: -100px;
						}
					}
				}
			}
		}
		.item-suggest {
			@include mq(max_xs) {
				background: transparent url(../images/bg-suggest-sp.png) no-repeat left top;
				background-size: 100% 100%;
				margin-bottom: 90px;
			}
			.box-item {
				background: transparent url(../images/bg-suggest.png) no-repeat left top;
				background-size: 100% 100%;
				padding-right: 64px;
				@include mq(max_lg) {
					padding-right: 20px;
				}
				.col-image {
					img {
						@include mq(max_xs) {
							margin-bottom: -90px;
						}
					}
				}
			}
		}
		.col-detail {
			.box-detail {
				max-width: 652px;
				@include mq(max_xl) {
					max-width: 100%;
				}
			}
			.title-lg {
				text-align: left;
				margin: 0 0 20px;
				@include mq(max_md) {
					font-size: 34px;
				}
				@include mq(max_sm) {
					font-size: 24px;
					margin-bottom: 10px;
				}
			}
			.txt {
				font-size: 20px;
				line-height: 1.8;
				color: #4A5568;
				@include mq(max_sm) {
					font-size: 18px;
				}
			}
			svg {
				vertical-align: middle;
				margin-right: 8px;
				margin-top: -0.5em;
			}
		}
		.col-image {
			text-align: right;
			@include mq(max_sm) {
				text-align: center;
			}
			img {
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-classroom-model
----------------------------------------------------------- */
.con-classroom-model {
	padding: 120px 0;
	@include mq(max_lg) {
		padding: 110px 0 80px;
	}
	@include mq(max_sm) {
		padding-top: 80px 0 50px;
	}
	.title-lg {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		height: 100%;
		text-align: left;
		@include mq(max_md) {
			margin-bottom: 30px;
		}
		@include mq(max_sm) {
			margin-bottom: 20px;
		}
		&:before {
			display: block;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: auto;
			height: 2px;
			background: #718096;
			@include mq(max_md) {
				display: none;
			}
		}
	}
	.box-list-wrapper {
		@include mq(max_xs) {
			background: #fff0e6;
		}
	}
	.box-list {
		border-radius: 64px;
		background: #fff0e6;
		padding: 64px;
		@include mq(max_lg) {
			padding: 40px;
		}
		@include mq(max_md) {
			padding: 30px;
		}
		@include mq(max_xs) {
			background: none;
			padding: 40px 0;
		}
		.list {
			margin: 0 -20px;
			@include mq(max_md) {
				margin: 0 -10px;
			}
			@include mq(max_xs) {
				margin: 0 -6px;
			}
		}
		.item {
			flex: 0 0 auto;
			width: 23%;
			padding: 0 20px;
			@include mq(max_md) {
				padding: 0 10px;
			}
			@include mq(max_sm) {
				width: (100% / 3) !important;
			}
			@include mq(max_xs) {
				padding: 0 6px;
			}
			&:nth-child(3n+1) {
				.txt {
					justify-content: flex-start;
					background: none;
					text-align: left;
					font-weight: 500;
					padding-left: 0;
					padding-right: 0;
					&:before {
						background: #f1e4d8;
						left: 0;
						right: 0;
					}
				}
			}
			&:not(:nth-child(3n+1)) {
				width: (100% - 23%) / 2;
			}
		}
		.title-class {
			position: relative;
			height: 100%;
			background: #fff;
			border-top-left-radius: 32px;
			border-top-right-radius: 32px;
			padding: 26px 16px;
			@include mq(max_sm) {
				padding-bottom: 15px;
			}
			@include mq(max_xs) {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}
			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 0;
				width: auto;
				height: 2px;
				background: $primary;
				@include mq(max_sm) {
					left: 10px;
					right: 10px;
				}
			}
			&.class-11 {
				.txt-lg {
					color: $primary;
				}
			}
			&.class-12 {
				&:before {
					background: #2971f0;
				}
				.txt-lg {
					color: #2971f0;
				}
			}
			.txt-lg {
				display: flex;
				justify-content: center;
				font-size: 36px;
				font-weight: 500;
				@include mq(max_md) {
					font-size: 28px;
				}
				@include mq(max_sm) {
					font-size: 24px;
				}
				@include mq(max_xs) {
					font-size: 21px;
					margin-bottom: -10px;
				}
				.ic-class {
					position: relative;
					svg {
						@include mq(max_md) {
							width: 80px;
							margin-top: -7px;
						}
						@include mq(max_sm) {
							width: 60px;
							margin-top: -12px;
						}
						@include mq(max_xs) {
							width: 50px;
							margin-top: -16px;
						}
					}
					.number {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						text-align: center;
						color: #fff;
					}
				}
			}
			.txt-md {
				text-align: center;
			}
		}
		.txt,
		.title-class .txt-md {
			font-size: 18px;
			line-height: (23 / 18);
			@include mq(max_md) {
				font-size: 16px;
			}
			@include mq(max_sm) {
				font-size: 15px;
			}
		}
		.txt {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 100%;
			position: relative;
			background: #fff;
			padding: 16.5px 30px;
			@include mq(max_sm) {
				padding: 12px 10px;
			}
			&:before {
				display: block;
				content: '';
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 0;
				width: auto;
				height: 1px;
				background:#edf2f7;
				@include mq(max_sm) {
					left: 10px;
					right: 10px;
				}
			}
		}
		.title-lg-sp {
			height: 100%;
			border-bottom: 1px solid #f1e4d8;
		}
		.last-item-11,
		.last-item-12 {
			.txt {
				height: 26px;
				background: #fff;
				border-bottom-left-radius: 32px;
				border-bottom-right-radius: 32px;
				@include mq(max_xs) {
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-effective
----------------------------------------------------------- */
.con-effective {
	background: #f8f6f3;
	padding-top: 92px;
	.title-lg {
		margin-bottom: 40px;
		@include mq(max_sm) {
			margin-bottom: 30px;
		}
	}
	.box-slider-wrapper {
		position: relative;
		margin-bottom: 70px;
		@include mq(max_sm) {
			margin-bottom: 50px;
		}
	}
	.box-slider {
		.slick-list {
			margin: 0 -30px;
			@include mq(max_lg) {
				margin: 0 -15px;
			}
			@include mq(max_xs) {
				margin: 0 -8px;
			}
		}
		.slide-item {
			padding: 0 30px;
			@include mq(max_lg) {
				padding: 0 15px;
			}
			@include mq(max_xs) {
				padding: 0 8px;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_newsbitu
----------------------------------------------------------- */
.con_newsbitu {
	padding: 120px 0;
	.title-lg {
		text-align: left;
		padding: 0 0 30px;
	}
	.list-group {
		&-item {
			padding: 25px 0;
			border-color: #EDF2F7;
			&:last-child {
				border-bottom: 1px solid #EDF2F7;
			}
			.box-photo {
				@include mq(md){
					width: 20%;
				}
			}
			.box-logo {
				@include mq(md){
					text-align: right;
					width: 30%;
				}
			}
			.box-details {
				h4 {
					color: #1A202C;
					@include mq(max_w, $md - 1){
						padding-top: 10px;
						font-size: 18px;
					}
				}
				p {
					color: #4A5568;
					font-size: 18px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con_marketing
----------------------------------------------------------- */
.con_marketing {
	background: #F7FAFC;
	padding: 60px 0;
	@include mq(max_sm) {
		padding: 12px 0 30px;
	}
	.box-text {
		display: flex;
    flex-direction: row;
    align-items: center;
		justify-content: center;
		@include mq(max_sm) {
			margin-top: 18px;
		}
		p {
			margin: 0;
		}
		.icon {
			width: 80px;
			height: 80px;
			text-align: center;
			border-radius: 100%;
			position: relative;
			@include linear-gradient(left, #FF9A03, #FF6D03);
			@include mq(max_md) {
				width: 44px;
				height: 44px;
			}
			svg {
				position: absolute;
				top: 56%;
				left: 50%;
				max-width: 60%;
				@include transform(translate(-50%,-50%))
			}
		}
		.txt {
			font-size: 20px;
			font-weight: 500;
			@include mq(max_md) {
				font-size: 18px;
			}
			@include mq(max_xs) {
				font-size: 16px;
			}
		}
	}
}
