@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-intro
----------------------------------------------------------- */
.con-about-intro {
  position: relative;
	margin: 100px 0 0px;
  @include mq(max_xl) {
    margin-top: 50px;
  }
  @include mq(max_sm) {
    margin: 25px 0 0;
  }
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: (1565 / 1920) * 100vw;
		height: (392 / 1920) * 100vw;
		background: transparent url(../images/bg-intro-dots.png) repeat left top;
	}
  .title-lg {
    @include mq(xl) {
      font-size: 64px;
    }
    @include mq(md) {
      text-align: left;
      font-size: 62px;
    }
    @include mq(max_md) {
      font-size: 48px;
    }
    @include mq(max_sm) {
      font-size: 30px;
    }
    .text-primary {
      display: block;
      background: linear-gradient(to right, #ff7003 0%, #ff9703 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 80px;
      @include mq(lg) {
        font-size: 120px;
      }
      @include mq(max_md) {
        font-size: 100px;
      }
    }
  }
  .description {
    margin-bottom: 40px;
    @include mq(max_sm) {
      text-align: center;
      margin-bottom: 24px;
    }
  }
  .btn {
    @include mq(max_sm) {
      display: block;
      margin: 0 auto 24px
    }
  }
  .box-image {
@include mq(max_sm) {
  padding-left: 0;
  padding-right: 0;
}
  }
  .img-intro {
    @include mq(max_xs) {
      overflow: hidden;
      img {
        width: 132%;
        max-width: none;
        transform: translateX(-10%);
      }
    }
  }
}

/* -----------------------------------------------------------
	.con-about-post
----------------------------------------------------------- */
.con-about-post {
  padding: 190px 0 0;
  @include mq(max_xl) {
    padding-top: 100px;
  }
  @include mq(max_sm) {
    padding: 0 0 40px;
  }
  .title-lg {
    text-align: left;
    padding-bottom: 30px;
  }
  .box-photos {
    position: relative;
    border-radius: 32px;
    display: inline-block;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: block;
      background: url(../images/logo_2.svg) center center no-repeat #fff;
      background-size: 60% auto;
      width: 118px;
      height: 118px;
      border-radius: 100%;
      padding: 20px;
      box-shadow: 0 0 32px rgba(0,0,0,0.35);
      @include mq(max_xs) {
        width: 67px;
        height: 67px;
      }
    }
  }
}

/* -----------------------------------------------------------
	.con-about-core
----------------------------------------------------------- */
.con-about-core {
  padding: 180px 0 0;
  @include mq(max_xl) {
    padding-top: 100px;
  }
  @include mq(max_sm) {
    padding: 60px 0 0;
  }
  .title-lg {
    text-align: left;
    margin-bottom: 40px;
    @include mq(max_sm) {
      margin-bottom: 16px;
    }
  }
  .box-value {
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: white;
    font-size: 36px;
    border-left: 6px solid #7C3EE1;
    padding: 13px 37px;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.25);
    width: 100%;
    @include mq(max_md) {
      font-size: 26px;
      padding: 12px 15px;
    }
    @include mq(max_sm) {
      margin-bottom: 16px;
      font-size: 20px;
      border-left-width: 4px;
      padding: 10px 15px;
    }
    .num {
      color: #7C3EE1;
      margin: 0;
    }
    &.value-2 {
      border-left-color: #2DB960;
      @include mq(md) {
        max-width: 254px;
      }
      .num {
        color: #2DB960
      }
    }
    &.value-3 {
      border-left-color: #2A80EA;
      @include mq(md) {
        font-size: 46px;
        .text {
          font-size: 46px;
        }
      }
      @include mq(xl) {
        font-size: 63px;
        .text {
          font-size: 63px;
        }
      }
      .num {
        color: #2A80EA
      }
    }
    &.value-4 {
      border-left-color: #EA4444;
      .num {
        color: #EA4444
      }
    }
    &.value-5 {
      border-left-color: #F8B93C;
      .num {
        color: #F8B93C
      }
    }
    &.value-6 {
      border-left-color: #ff6d03;
      @include mq(md) {
        font-size: 36px;
        .text {
          font-size: 36px;
        }
      }
      @include mq(xl) {
        font-size: 42px;
        .text {
          font-size: 42px;
        }
      }
      .num {
        color: #ff6d03
      }
    }
  }
}

/* -----------------------------------------------------------
	.con-about-maxim
----------------------------------------------------------- */
.con-about-maxim {
  position: relative;
  padding-top: 54px;
  margin: 160px 0 153px;
  @include mq(max_xl) {
    padding: 43px 0;
    margin: 90px 0;
  }
  @include mq(max_xs) {
    padding-top: 43px;
    margin: 60px 0 0;
  }
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: calc(100% - 80px);
    opacity: 0.2;
		background: transparent url(../images/bg-intro-dots.png) repeat-x left top;
    z-index: 1;
    @include mq(max_sm) {
      height: 100%;
    }
	}
  &:after {
    content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: calc(100% - 80px);
    background: linear-gradient(to bottom, #ff7003 0%, #ff9703 100%);
    z-index: 0;
    @include mq(max_sm) {
      height: 100%;
    }
  }
  .title-lg {
    color: white;
    text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
    margin-bottom: 33px;
    @include mq(max_sm) {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }
  & > * {
    position: relative;
    z-index: 2;
  }
  .col-maxim {
    background: #FDF7F1;
    border-radius: 32px;
    padding: 40px;
    margin: 8px 0;
    @include mq(max_md) {
      padding: 25px;
      border-radius: 22px;
    }
    @include mq(max_sm) {
      padding: 18px;
      border-radius: 16px;
    }
    .text {
      font-size: 24px;
      @include mq(max_md) {
        font-size: 18px;
      }
      &-primary {
        font-size: 100px;
        background: linear-gradient(to right, #ff7003 0%, #ff9703 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include mq(max_md) {
          font-size: 56px;
        }
      }
    }
  }
}